.container {
  margin-top: 100px;
  display: flex;
  justify-content: space-evenly;
}

.pink-div {
  height: 200px;
  width: 200px;
  background: pink;
}

.purple-div {
  height: 200px;
  width: 200px;
  background: purple;
  opacity: 0.5;
  position: relative;
  animation-name: animate1;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes animate1 {
  from {
    left: 500px;
    top: 0px;
  }
  to {
    left: -1000px;
    top: 0px;
  }
}
