h2 {
  color: crimson;
  font-style: oblique;
}

.font-p1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.font-p2 {
  font-weight: bolder;
}

.font-p3 {
  font-size: x-small;
}

.font-p4 {
  font-style: italic;
}

.bg-div1 {
  height: 200px;
  background-image: url("img.jpeg");
}

.bg-div2 {
  height: 200px;
  background-image: url("img.jpeg");
  background-repeat: no-repeat;
}

.ps-p1::before {
  content: " - qwertyuiop - ";
  color: red;
}

.ps-p2::after {
  content: " - asdfghjkl - ";
  font-weight: bold;
  color: rgb(47, 113, 255);
}

.pseudo-div p:last-child {
  color: blueviolet;
  background: yellow;
}

.com-div1 p {
  background: rgb(240, 187, 240);
}

.com-div1 > div {
  background-color: turquoise;
  border: 2px solid;
}

.div2-p1 + p {
  font-style: italic;
  font-size: 25px;
}

input[type="number"] {
  background-color: thistle;
  height: 30px;
}

input[value="mail"] {
  width: 100px;
  background-color: rgb(119, 119, 150);
}

input[name="name"] {
  background-color: chartreuse;
}
